.social-links-items-footer {
    display: flex;
    width: 44px;
    color: var(--color-white);
    height: 44px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.1);
    justify-content: center;
    align-items: center;
    transition: background-color var(--transition-dur-func);
&:hover,
&:focus {
    background-color: var(--accent-text-color);
}

}


.footer-list-title {
@include text-decor(700, 14px, 1.14, 0.03em);
    text-transform: uppercase;
    color: var(--color-white);
    margin-bottom: 20px;
}

.social-links-list {
    display: flex;
    width: 206px;
    gap: 10px;
}

.footer-links {
    display: flex;
    align-items: baseline;
}

.social-links-footer {
    margin-left: 70px;
}

address {
    margin-top: 20px;
}

.links-address li:not(:last-child) {
    margin-bottom: 9px;
}

.links-address a {
    font-style: normal;
@include text-decor(400, 14px, 1.7, 0.03em);
    color: var(--adress-color);
    transition: color var(--transition-dur-func);
    &:hover,
        &:focus {
            color: var(--accent-text-color);
        }
}

footer {
    background-color: var(--bgcolor-black);
    padding: 60px 0;
}


.logo-studio-footer {
    color: var(--color-white);
}

.social-list-icons-footer {
    fill: currentColor;
}