    @media screen and(min-width:200px) {
.team {
        background-color: var(--background-color-team);
    }

    .team-img-titles {
        margin-bottom: 10px;
    }

    .info-team {
        padding: 30px 0;
    }

    .title-team {
        font-style: normal;
        font-weight: 700;
        font-size: 36px;
        line-height: 1.17;
        text-align: center;
        letter-spacing: 0.03em;
        color: var(--primary-text-colorry);

        margin-bottom: 50px;
        margin-left: auto;
        margin-right: auto;

    }

    .our-team h3 {
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.19;
        letter-spacing: 0.03em;

        color: var(--primary-text-colorry);
    }

    .our-team p {
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 1.19;
        letter-spacing: 0.03em;

        color: var(--text-color);
    }

    .our-team {
        display: flex;
        flex-wrap: wrap;
        gap: 30px;
        justify-content: center;
        text-align: center;
    }

    .our-team li {
        background-color: #fff;
        border-radius: 0px 0px 4px 4px;
        box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    }

    .social-list-team {
        display: flex;
        gap: 10px;
        justify-content: center;
        margin-top: 16px;

    }

    .social-list-team li {
        box-shadow: none;
    }

    .social-links-team {
        display: flex;
        width: 44px;
        border-radius: 50%;
        height: 44px;
        background-color: #FFFFFF;
        justify-content: center;
        align-items: center;
        color: var(--icons-color);
        transition: color var(--transition-dur-func),
            background-color var(--transition-dur-func);

        &:hover,
        &:focus {
            color: var(--color-white);
            background-color: var(--accent-text-color);
        }
    }


    .social-team-icons {
        fill: currentColor;
    }

    }
    @media screen and (min-width:1200px) {

.our-team{
    flex-wrap: nowrap;
}
    }
   