@media screen and(min-width:200px) {
    .footer-user-input {
            display: block;
            padding-left: 16px;
            width: 358px;
            height: 50px;
            border: 1px solid rgba(255, 255, 255, 0.3);
            border-radius: 4px;
            background-color: var(--bgcolor-black);
            color: var(--color-white);
            font-size: 16px;
            transition: border-color var(--transition-dur-func);
            &:hover,
        &:focus {
            border-color: var(--accent-text-color);
            outline: none;
    
        }
        &::placeholder {
            letter-spacing: 0.03em;
            color: rgba(255, 255, 255, 0.6);
        }
    
        }
    
    
    
    
    
        .footer-user-title {
        @include text-decor(700,14px,1.14,0.03em);
            text-transform: uppercase;
            margin-bottom: 20px;
            color: var(--color-white);
    
        }
    
        .footer-user-input-box {
        @extend %align;
        }
    
        .footer-user-btn {
        @extend %align;
            padding: 10px 28px;
            margin-left: 12px;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
            border-radius: 4px;
            background-color: var(--accent-text-color);
        @include text-decor(700, 16px, 1.88, 0.06em);
            color: var(--color-white);
    
        }
    
        .footer-user-form {
            margin-left: auto;
        }
    
        .footer-user-icon {
            fill: currentColor;
            color: var(--color-white);
            margin-left: 10px;
        }
}
@media screen and (min-width:768px) {}
@media screen and (min-width:1200px) {}
// .footer-user-input {
//     display: block;
//     padding-left: 16px;
//     width: 358px;
//     height: 50px;
//     border: 1px solid rgba(255, 255, 255, 0.3);
//     border-radius: 4px;
//     background-color: var(--bgcolor-black);
//     color: var(--color-white);
//     font-size: 16px;
//     transition: border-color var(--transition-dur-func);
//     &:hover,
// &:focus {
//     border-color: var(--accent-text-color);
//     outline: none;
    
// }
// &::placeholder {
//     letter-spacing: 0.03em;
//     color: rgba(255, 255, 255, 0.6);
// }

// }





// .footer-user-title {
// @include text-decor(700,14px,1.14,0.03em);
//     text-transform: uppercase;
//     margin-bottom: 20px;
//     color: var(--color-white);

// }

// .footer-user-input-box {
// @extend %align;
// }

// .footer-user-btn {
// @extend %align;
//     padding: 10px 28px;
//     margin-left: 12px;
//     box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
//     border-radius: 4px;
//     background-color: var(--accent-text-color);
// @include text-decor(700, 16px, 1.88, 0.06em);
//     color: var(--color-white);

// }

// .footer-user-form {
//     margin-left: auto;
// }

// .footer-user-icon {
//     fill: currentColor;
//     color: var(--color-white);
//     margin-left: 10px;
// }