.backdrop {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    overflow: auto;
    z-index: 100;
    top: 0;
    left: 0;
    transition: opacity var(--transition-dur-func), visibility var(--transition-dur-func);
}.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    overflow: auto;
    transform: translate(-50%, -50%);
    max-width: 450px;
    height: 600px;
    background-color: var(--color-white);
    padding: 40px;
    }
@media screen and (min-width:768px){
    .modal{
        max-width:528px;
    }
}




.modal-close-btn {
@extend %align;
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: transparent;
    width: 30px;
    height: 30px;
    padding: 0;
    fill: currentColor;
    color: #000000;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    transition: color var(--transition-dur-func), background-color var(--transition-dur-func);
&:focus,
   &:hover {
        background-color: var(--accent-text-color);
        color: var(--color-white);
    }
}


.backdrop.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}